*.bak
*.mo
*.rar
/app/Config/database.php
/app/tmp
/app/webroot/files/tests
/app/webroot/img/surveys
/app/webroot/img/challenges
/app/webroot/img/tmp
/.komodotools
*.komodoproject
.DS_Store
/lib/Cake/Console/cake