@charset "utf-8";


#map_canvas { width: 100%; border-radius: 3px; }

ul.noStyle { margin-left: 0; padding-left: 0; list-style: none; }

.mapLegend { margin: 0; }
	.legendTitle { margin-bottom: 16px; font-weight: bold; }
	.legendColor { display: inline-block; width: 10px; height: 10px; }