@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body { background: #FFF; }
.band { width: 100%; }
.band.band-blue {
	border-bottom: 2px solid #D3EAF4;
	background: #2298C6; /* Old browsers */
	background-image: linear-gradient(bottom, #2298C6 25%, #4DACD1 90%);
	background-image: -o-linear-gradient(bottom, #2298C6 25%, #4DACD1 90%);
	background-image: -moz-linear-gradient(bottom, #2298C6 25%, #4DACD1 90%);
	background-image: -webkit-linear-gradient(bottom, #2298C6 25%, #4DACD1 90%);
	background-image: -ms-linear-gradient(bottom, #2298C6 25%, #4DACD1 90%);	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.25, #2298C6), color-stop(.9, #4DACD1));
}

#header {
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	height: 98px;
}
	#header_logo {
		float: left;
		display: block;
		margin-top: 16px;
	}
		#header_logo:hover { }
		#header_logo img { margin-bottom: 4px; }

	#main_menu {
		float: right;
		margin: 0;
		list-style: none;
		font-family: 'Ubuntu', sans-serif;
		color: #FFF;
		font-weight: bold;
		font-size: 16px;
		-webkit-transition: opacity linear .2s;
		-moz-transition: opacity linear .2s;
		-o-transition: opacity linear .2s;
		transition: opacity linear .2s;
	}
		#main_menu li {
			float: left;
			height: 68px;
			line-height: 90px;
			margin-right: 20px;
			padding-top: 30px;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
			background-position: 50% 100%;
			-webkit-transition: background-position ease .2s;
			-moz-transition: background-position ease .2s;
			-o-transition: background-position ease .2s;
			transition: background-position ease .2s;
		}
			#main_menu li:hover, #main_menu li.active { background: url(img/main_menu_active.png) 50% 30px no-repeat transparent; }
		#main_menu li:last-of-type { margin-right: 0; }
			#main_menu li a {
				color: #FFF;
				-webkit-transition: box-shadow linear .2s;
				-moz-transition: box-shadow linear .2s;
				-o-transition: box-shadow linear .2s;
				transition: box-shadow linear .2s;
			}
			#main_menu li a:hover { text-decoration: none; /*text-shadow: 0 0 6px rgba(255, 255, 255, .5);*/ }
	#header:hover #header_logo, #header:hover #main_menu { opacity: 1; }


.band.band-content {
	background: #D3EAF4; /* Old browsers */
	background-image: linear-gradient(bottom, #D3EAF4 0%, #FFF 70%);
	background-image: -o-linear-gradient(bottom, #D3EAF4 0%, #FFF 70%);
	background-image: -moz-linear-gradient(bottom, #D3EAF4 0%, #FFF 70%);
	background-image: -webkit-linear-gradient(bottom, #D3EAF4 0%, #FFF 70%);
	background-image: -ms-linear-gradient(bottom, #D3EAF4 0%, #FFF 70%);	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #D3EAF4), color-stop(.7, #FFF));
}
#content {
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.band.band-lblue {
	background-color: #D3EAF4;	
	border-top: 1px solid rgba(255, 255, 255, .75);
}

#footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #2298C6;
}
	#footer a { color: #2298C6; }

#bottom { padding: 10px 0; }
	#bottom_logo { float: right; }

#map { height: 100%; margin: 0; padding: 0 }
		#map #content { height: 100%; }
			#map_canvas { width: 100%; border-radius: 3px; }

ul.noStyle { margin-left: 0; padding-left: 0; list-style: none; }

.mapLegend { margin: 0; }
	.legendTitle { margin-bottom: 16px; font-weight: bold; }
	.legendColor { display: inline-block; width: 10px; height: 10px; }
	
h1, h2, h3, h4, h5 { font-family: 'Ubuntu', sans-serif; }
h1 { margin-top: 0; }
h2 { color: #666; }


.mt { margin-top: 20px; }
.mr { margin-right: 20px; }
.mb { margin-bottom: 20px; }
.ml { margin-left: 20px; }

.mmt { margin-top: 10px; }
.mmr { margin-right: 10px; }
.mmb { margin-bottom: 10px; }
.mml { margin-left: 10px; }

.input-full { width: 100%; }

.clickable { cursor: pointer; }

.box-mod {
	padding: 20px;
	background-color: #FFF;
	border-radius: 4px;
	border: 3px solid #D3EAF4;
}

	.box-mod legend {
		border-color: #666;
	}

.box-blue {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2298C6;
	border-radius: 3px;
	color: #FFF;
}
	.box-blue h2, .box-blue a {
		color: #FFF;
	}
	
	.box-blue .thumbnails a {
		display: block;
	}
	
	.box-blue .thumbnails a:hover {
		text-decoration: none;
	}
	
	.box-blue .thumbnails li {
		padding: 10px 0;
		border-radius: 3px;
		-webkit-transition: background-color linear .5s;
		-moz-transition: background-color linear .5s;
		-o-transition: background-color linear .5s;
		transition: background-color linear .5s;
	}
	
	.box-blue .thumbnails li:hover {
		background-color: rgba(255, 255, 255, .15);
	}

.home .carousel-img {
	overflow: hidden;
	width: 100%;
	border-radius: 3px;
}

.home .lead {
	margin-top: 40px;
	line-height: 175%;
	font-size: 24px;
	color: #666;
}

.challenges .thumbnail {
	position: relative;
	height: 240px;
	max-height: 240px;
	padding: 0;
}
	.thumbnails.challenges li:nth-child(4n) {
		margin-left: 0;
	}
	.challenges .thumbnail:hover {
		border-color: #333;
	}
	.thumbnail-image, .challenge-image {
		overflow: hidden;
		width: 100%;
		height: 100%;
		border-radius: 3px;
		background-color: #000;
	}
	.thumbnail .caption, .challenge-image h3 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 10px 0 10px 0;
		color: #FFF;
		text-align: center;
		background-color: rgba(0, 0, 0, .8);
		-webkit-transition: background-color linear .2s, box-shadow linear .2s;
		-moz-transition: background-color linear .2s, box-shadow linear .2s;
		-o-transition: background-color linear .2s, box-shadow linear .2s;
		transition: background-color linear .2s, box-shadow linear .2s;
		border-radius: 0 0 3px 3px;
	}
	.challenges .thumbnail:hover .caption {
		background-color: rgba(0, 0, 0, .95);
		box-shadow: 0 -2px 4px rgba(0, 0, 0, .25);
	}
		.caption h4 {
			margin: 0;
			padding: 0;
			color: rgba(255, 255, 255, .8);
			-webkit-transition: color linear .2s;
			-moz-transition: color linear .2s;
			-o-transition: color linear .2s;
			transition: color linear .2s;
		}
		.challenges .thumbnail:hover h4 {
			color: rgba(255, 255, 255, .95);
		}

.challenge-image {
	position: relative;
	max-height: 400px;
	text-align: center;
}

.challenge-image h3 {
	bottom: 20px;
}

/**** MOBILE PAGE ****/

#phonescreens {
    background: transparent url(../img/phone_frame.png) no-repeat;
    height: 700px;
}
#phonescreens #slider {
        margin: 56px 50px;
        visibility:hidden;
}

#slider ul, #slider li {
        margin:0;
        padding:0;
        list-style:none;
        }

#slider li { 
        width:300px;
        height: 800px;
        margin-top: 50px;
}

ul.list-feature { margin-left: 0; padding-left: 0; list-style: none; font-size: 24px; color: #666; }
ul.list-feature li {
	margin-bottom: 20px;
	padding-left: 30px;	
	line-height: 125%;
	vertical-align: text-top; 
	background: transparent url(img/marker.png) no-repeat 0 5px;
}


.dial {
	/*width: 104px;*/
	/*height: 66px; position: absolute; vertical-align: middle; margin-top: 66px; margin-left: -152px; border: 0px; background-image: none; font-weight: bold; font-style: normal; font-variant: normal; font-size: 40px; line-height: normal; font-family: Arial; text-align: center; color: rgb(127, 255, 0); padding: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial;*/
}

/*** FORMS ***/
.input {
	margin-bottom: 20px;
}

.input.required label { font-weight: bold; }

.error-message { font-size: 12px; color: red; }

/*** BOOTSTRAP CUSTOMIZATIONS ***/
.nav-tabs > .active > a {
	/*background-color: transparent;*/
}