@charset "utf-8";

html#map { height: 100% }
	html#map body { height: 100%; margin: 0; padding: 0 }
		#top_nav {  }
		#main { height: 100%; }
		html#map #content { height: 100%; }
			#map_container { }
				#map_canvas { height: 100%; }